<head>
	<style>
		body {
			background: #2A2B3D;
		}

		#registration-form {
			font-family: 'Open Sans Condensed', sans-serif;
			width: 400px;
			min-width: 250px;
			margin: 20px auto;
			position: relative;
		}

		#registration-form .fieldset {
			background-color: #606275;

			border-radius: 3px;

		}

		#registration-form legend {
			text-align: center;
			background: #6f6486;
			width: 100%;
			padding: 30px 0;
			border-radius: 3px 3px 0 0;
			color: white;
			font-size: 2em;
		}

		.fieldset form {
			border: 1px solid #2f2f2f;
			margin: 0 auto;
			display: block;
			width: 100%;
			padding: 30px 20px;
			box-sizing: border-box;
			border-radius: 0 0 3px 3px;
		}

		.placeholder #registration-form label {
			display: none;
		}

		.no-placeholder #registration-form label {
			margin-left: 5px;
			position: relative;
			display: block;
			color: grey;
			text-shadow: 0 1px white;
			font-weight: bold;
		}

		/* all */
		::-webkit-input-placeholder {
			text-shadow: 1px 1px 1px white;
			font-weight: bold;
		}

		::-moz-placeholder {
			text-shadow: 0 1px 1px white;
			font-weight: bold;
		}

		/* firefox 19+ */
		:-ms-input-placeholder {
			text-shadow: 0 1px 1px white;
			font-weight: bold;
		}

		/* ie */
		#registration-form input[type=text] {
			padding: 15px 20px;
			border-radius: 1px;
			margin: 5px auto;
			background-color: #f7f7f7;
			border: 1px solid silver;

			-webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2);
			box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, .8);
			width: 100%;

			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
			box-sizing: border-box;
			-webkit-transition: background-color .5s ease;
			-moz-transition: background-color .5s ease;
			-o-transition: background-color .5s ease;
			-ms-transition: background-color .5s ease;
			transition: background-color .5s ease;
		}

		#registration-form input[type=password] {
			padding: 15px 20px;
			border-radius: 1px;
			margin: 5px auto;
			background-color: #f7f7f7;
			border: 1px solid silver;

			-webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2);
			box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, .8);
			width: 100%;

			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
			box-sizing: border-box;
			-webkit-transition: background-color .5s ease;
			-moz-transition: background-color .5s ease;
			-o-transition: background-color .5s ease;
			-ms-transition: background-color .5s ease;
			transition: background-color .5s ease;
		}

		#registration-form select {
			padding: 15px 20px;
			border-radius: 1px;
			margin: 5px auto;
			background-color: #f7f7f7;
			border: 1px solid silver;

			-webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2);
			box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, .8);
			width: 100%;

			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
			box-sizing: border-box;
			-webkit-transition: background-color .5s ease;
			-moz-transition: background-color .5s ease;
			-o-transition: background-color .5s ease;
			-ms-transition: background-color .5s ease;
			transition: background-color .5s ease;
		}

		#registration-form input[type=date] {
			padding: 15px 20px;
			border-radius: 1px;
			margin: 5px auto;
			background-color: #f7f7f7;
			border: 1px solid silver;

			-webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2);
			box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, .8);
			width: 100%;

			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
			box-sizing: border-box;
			-webkit-transition: background-color .5s ease;
			-moz-transition: background-color .5s ease;
			-o-transition: background-color .5s ease;
			-ms-transition: background-color .5s ease;
			transition: background-color .5s ease;
		}

		#registration-form input[type=email] {
			padding: 15px 20px;
			border-radius: 1px;
			margin: 5px auto;
			background-color: #f7f7f7;
			border: 1px solid silver;

			-webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2);
			box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, .8);
			width: 100%;

			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
			box-sizing: border-box;
			-webkit-transition: background-color .5s ease;
			-moz-transition: background-color .5s ease;
			-o-transition: background-color .5s ease;
			-ms-transition: background-color .5s ease;
			transition: background-color .5s ease;
		}

		.no-placeholder #registration-form input[type=text] {
			padding: 10px 20px;
		}

		.no-placeholder #registration-form input[type=password] {
			padding: 10px 20px;
		}

		.no-placeholder #registration-form input[type=date] {
			padding: 10px 20px;
		}

		.no-placeholder #registration-form input[type=email] {
			padding: 10px 20px;
		}

		#registration-form input[type=text]:active,
		.placeholder #registration-form input[type=text]:focus {
			outline: none;
			border-color: silver;
			background-color: white;
		}

		#registration-form input[type=submit] {
			font-family: 'Open Sans Condensed', sans-serif;
			text-transform: uppercase;
			outline: none;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
			box-sizing: border-box;
			width: 100%;
			background-color: #5C8CA7;
			padding: 10px;
			color: white;
			border: 1px solid #3498db;
			border-radius: 3px;
			font-size: 1.5em;
			font-weight: bold;
			margin-top: 5px;
			cursor: pointer;
			position: relative;
			top: 0;
		}

		#registration-form input[type=submit]:hover {
			background-color: #2980b9;
		}


		#registration-form input[type=submit]:active {
			background: #5C8CA7;
		}


		.parsley-error-list {
			background-color: #C34343;
			padding: 5px 11px;
			margin: 0;
			list-style: none;
			border-radius: 0 0 3px 3px;
			margin-top: -5px;
			margin-bottom: 5px;
			color: white;
			border: 1px solid #870d0d;
			border-top: none;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			position: relative;
			top: -1px;
			text-shadow: 0px 1px 1px #460909;
			font-weight: 700;
			font-size: 12px;
		}

		.parsley-error {
			border-color: #870d0d !important;
			border-bottom: none;
		}

		#registration-form select {
			width: 100%;
			padding: 5px;
		}

		::-moz-focus-inner {
			border: 0;
		}

		.text-danger{
			color: #870d0d;
			font-size: 16px;
			padding: 5px;
		}
	</style>
</head>

<!DOCTYPE html>
<html lang="es">
<%- include('partials/head'); %>

  <head>
    <style>
      .modal-window {
        position: fixed;
        background-color: rgba(100, 97, 97, 0.25);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s;
      }

      .modal-window:target {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
      }

      .modal-window>div {
        width: 500px;
        position: absolute;
        top: 50%;
        left: 52%;
        transform: translate(-50%, -50%);
        padding: 2em;
        color: #fff;
        background: #252636;
      }

      .modal-window header {
        font-weight: bold;
      }

      .modal-window h1 {
        font-size: 150%;
        margin: 0 0 15px;
      }

      .modal-close {
        color: #aaa;
        line-height: 50px;
        font-size: 80%;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        width: 70px;
        text-decoration: none;
      }

      .modal-close:hover {
        color: black;
      }

      .modal-window>div {
        border-radius: 1rem;
      }

      .modal-window div:not(:last-of-type) {
        margin-bottom: 15px;
      }

      .btn {
        background-color: white;
        padding: 1em 1.5em;
        border-radius: 1rem;
        text-decoration: none;
      }

      #postarea {
        border-style: none;
        border-color: Transparent;
        overflow: auto;
        padding: 5px;
        color: #fff;
        background: #252636;

        border: none;
        overflow: auto;
        outline: none;

        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }

      #opciones{
        padding: 5px;
        color: #fff;
        background: #252636;
        border-style: none;
        border-color: Transparent;
      }

      #sharebutton {
        color: white;
        background: rgb(29, 24, 31);
        font-weight: 900;
        font-size: 12px;
        border-radius: 30px;
        width: 80px;
        height: 40px;
        margin-left: 350px;
      }

      #sharebutton:hover{
        background: rgb(81, 60, 82);
      }

      #imagenLike:hover{
        -webkit-transform:scale(1.25);
        -moz-transform:scale(1.25);
        -ms-transform:scale(1.25);
        -o-transform:scale(1.25);
        transform:scale(1.25);
      }

    </style>
  </head>

  <body>
    <aside class="sidebar position-fixed top-0 left-0 overflow-auto h-100 float-left" id="show-side-navigation1">
      <i class="uil-bars close-aside d-md-none d-lg-none" data-close="show-side-navigation1"></i>
      <div class="
          sidebar-header
          d-flex
          justify-content-center
          align-items-center
          px-3
          py-4
        ">
        <img class="rounded-pill img-fluid" width="65" src="/images/music.png" alt="" />
        <div class="ms-2">
          <h5 class="fs-6 mb-0">
            <a class="text-decoration-none" href="#">WELCOME</a>
          </h5>
          <p class="mt-1 mb-0">Start sharing!</p>
        </div>
      </div>

      <div class="search position-relative text-center px-4 py-3 mt-2">
        <form action="/youtubeTop/search" method="get">
          <input type="text" id="search" name="q" class="form-control w-100 border-0 bg-transparent" style="color: #fff" placeholder="Video searcher" />
          <i class="fa fa-search position-absolute d-block fs-6"></i>
          <input type="submit" hidden style="border:0; padding:0; font-size:0">
        </form>
      </div>

      <ul class="categories list-unstyled">
        <li>
          <i class="fa fa-users" aria-hidden="true"></i><a href="#"> Our Users </a>
        </li>
        <li>
          <i class="fa fa-music" aria-hidden="true"></i><a href="/musicNews"> Music News </a>
        </li>
        <li>
          <i class="fas fa-crown" aria-hidden="true"></i><a href="/taylorSwift"> Taylor Swift </a>
        </li>
        <li><i class="fas fa-quote-right"></i><a href="/musicQuotes"> Music Quotes</a></li>
        <li><i class="fab fa-youtube"></i><a href="/youtubeTop"> Top Music Videos </a></li>
        <li>
          <i class="fas fa-heart-broken"></i><a href="/heartBreakSongs"> Heartbreak Songs </a>
        </li>
        <li>
          <i class="fas fa-globe-americas"></i><a href="/category"> By Location </a>
        </li>
        <% if(locals.isLogged) { %>
          <li>
            <i class="fas fa-edit"></i><a href="#open-modal"> Create a Post </a>
          </li>
          <%}%>
      </ul>
    </aside>

    <section id="wrapper">
      <nav class="navbar navbar-expand-md">
        <div class="container-fluid mx-2">
          <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggle-navbar"
              aria-controls="toggle-navbar" aria-expanded="false" aria-label="Toggle navigation">
              <i class="uil-bars text-white"></i>
            </button>
            <a class="navbar-brand" href="#">Share<span class="main-color"> Your Music!</span></a>
          </div>
          <% if(locals.isLogged) { %>
            <div class="dropdown" style="right: 0; border-bottom: 3px solid #ffc107">
              <button class="dropbtn">
                <img height="30" width="30" src="/images/avatars/<%= locals.userLogged.SRC_Image %>" />
                Hola, <%= locals.userLogged.Name %>
              </button>
              <div class="dropdown-content">
                <a href="/user/profile">
                  <img src="/images/enter.png" />My profile</a>
                <a href="/user/logout">
                  <img src="/images/sign-up.png" /> Log out</a>
              </div>
            </div>
            <% } else { %>
              <div class="dropdown" style="right: 0; border-bottom: 3px solid #ffc107">
                <button class="dropbtn">
                  <img style="border-radius: 50%" id="imagen" height="30" width="30"
                    src="/images/avatars/default.png" />
                  My account
                </button>
                <div class="dropdown-content">
                  <a href="/user/profile"> <img width="16" height="16" src="/images/enter.png" /> Log In</a>
                  <a href="/user/logout">
                    <img  width="16" height="16" src="/images/sign-up.png" /> Sign Up</a>
                </div>
              </div>
              <% } %>
        </div>
      </nav>

      <div class="p-4">
		  
<div id="registration-form">
	<div class='fieldset'>
		<legend>Wanna be Cool?!</legend>
		<form method="POST" action="/user/register" enctype="multipart/form-data">

			<div class='row'>
				<input type="text" placeholder="Your Name" name='Name' id='firstname' 
				class="form-control <%= locals.errors && errors.Name ? 'is-invalid' : null %>"
									value="<%= locals.oldData ? oldData.Name : null %>">
			</div>

			<% if (locals.errors && errors.Name) { %>
				<div class="text-danger">
					<%= errors.Name.msg %> 
				</div>
			<% } %>

			<div class='row'>
				<input type="text" placeholder="Your Surnames" name='Surnames' id='firstname' 
				class="form-control <%= locals.errors && errors.Surnames ? 'is-invalid' : null %>"
									value="<%= locals.oldData ? oldData.Surnames : null %>">
			</div>

			<% if (locals.errors && errors.Surnames) { %>
				<div class="text-danger">
					<%= errors.Surnames.msg %> 
				</div>
			<% } %>

			<div class='row'>
				<input type="date" placeholder="Born Date" name='Date' 
				class="form-control <%= locals.errors && errors.Date ? 'is-invalid' : null %>"
									value="<%= locals.oldData ? oldData.Date : null %>">
			</div>

			<% if (locals.errors && errors.Date) { %>
				<div class="text-danger">
					<%= errors.Date.msg %> 
				</div>
			<% } %>

			<div class='row'>
				<select style="font-size: 18px;" name="Gender">
					<option id="opciones" class="control">Choose your Gender</option>
					<% let opciones=['Female', 'Male' , 'Non-binary' , 'Transgender' , 'Intersex'
						, 'I prefer not to say' ]; %>
						<% for (const oneOption of opciones) { %>
							<option value="<%= oneOption %>">
								<%= oneOption %>
							</option>
							<% } %>
				</select>
			</div>

			<% if (locals.errors && errors.Gender) { %>
				<div class="text-danger">
					<%= errors.Gender.msg %> 
				</div>
			<% } %>

			<div class='row'>
				<input type="text" placeholder="Username" name='Username'
				class="form-control <%= locals.errors && errors.Username ? 'is-invalid' : null %>"
									value="<%= locals.oldData ? oldData.Username : null %>">
			</div>

			<% if (locals.errors && errors.Username) { %>
				<div class="text-danger">
					<%= errors.Username.msg %> 
				</div>
			<% } %>

			<div class='row'>
				<input type="email" placeholder="E-mail" name='Email' 
				class="form-control <%= locals.errors && errors.Email ? 'is-invalid' : null %>"
									value="<%= locals.oldData ? oldData.Email : null %>">
			</div>

			<% if (locals.errors && errors.Email) { %>
				<div class="text-danger">
					<%= errors.Email.msg %> 
				</div>
			<% } %>

			<div class='row'>
				<input type="password" placeholder="Password" name='Password'>
			</div>

			<% if (locals.errors && errors.Password) { %>
				<div class="text-danger">
					<%= errors.Password.msg %> 
				</div>
			<% } %>


			<input type="file" name="avatar"
				class="form-control <%= locals.errors && errors.avatar ? 'is-invalid' : null %>">
			
				<% if (locals.errors && errors.avatar) { %>
					<div class="text-danger">
						<%= errors.avatar.msg %>
					</div>
				<% } %>
				
			<input type="submit" value="Register">
		</form>
	</div>
</div>
      </div>
    </section>

    <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
    <script src="/public/js/home.js"></script>
    <script src="https://use.fontawesome.com/96171fdafb.js"></script>
    <script src="https://kit.fontawesome.com/cf85f829dd.js" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </body>

</html>

<%- include('partials/footer'); %>